.formCriarContaSubmit {
    background-color: var(--color-green);
    color: var(--color-white);

    font-size: 24px;

    padding: 4px;
    height: 40px;
    width: 100px;
    border: none;

    margin-top: 20px;
    margin-right: 40px;

    transition-duration: 0.4s;
}

.formCriarConta {
    background-color: var(--color-white);
}

.formCriarContaSubmit:hover {
    background-color: var(--color-white);
    color: var(--color-green);
    cursor: pointer;
}

.formCriarContaRecaptcha {
    padding-top: 5px;
}