.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74.5vh;
    background-color: var(--color-black);
}
.home_banner {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    background-color: var(--color-white);
}

.banner-fruntas_ellipse {
    width: 8%;
}