.home {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 75px);
  background-color: var(--color-black);
}

.home_logoEmpresa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 1366px) {
  .home {
    height: calc(100vh - 60px);
    background-color: var(--color-black);
    min-width: 600px;
  }

  .banner-fruntas_ellipse {
    height: 8%;
    width: 8%;
  }

  .home_logoEmpresa img {
    width: 70%;
  }
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container .button-intro {
  color: var(--color-white);
  font-size: 1.3rem;
}

.button-container .button-calc {
  margin: 0px 10px 0px 10px;
}
