.home {
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 75px);
    background-color: var(--color-black);
}

.home_logoEmpresa {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 1366px) {
    .home {
        height: calc(100vh - 60px);
        background-color: var(--color-black);
        min-width: 600px;
    }

    .banner-fruntas_ellipse {
        height: 8%;
        width: 8%;
    }

    .home_logoEmpresa img {
        width: 70%;
    }
}