.container {
  padding: 30px;
  border-radius: 4px;
}

.product-table {
  width: 100%;
}

.product-table thead th {
  color: #999;
  text-align: center;
  padding: 5px;
  font-size: 1.5rem;
}

.product-table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.product-table img {
  height: 100px;
  border-radius: 50%;
}

.product-table strong {
  color: #333;
  display: block;
  font-size: 2.5rem;
}

.product-table span {
  display: block;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

.calculadora_input {
  padding: 10px;
  width: 35%;
  border: 1px solid var(--color-green);
  border-radius: 5px;
  margin-right: 10px;
}

.calculadora_container-buscar {
  padding: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.container .alimento-nome {
  font-weight: bold;
  color: #000;
  font-size: 1.5rem;
}

.container .product-table tbody .footer-table td {
  margin-top: 15px;
}

.loading-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
